main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 540px;
    justify-items: center;
    align-items: center;
}
.divison-1{
    grid-column: 1/3;
}
.divison-2{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    align-items: center;
}
.divison-3{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    align-items: center;
}