*{
    /* box-sizing: border-box; */
}
body{
    background-color: #fcfbfb;
    max-width: 1600px;
    margin: 0 auto;
}
#content{
    max-width: 1600px; 
    margin: 0 auto;
}
header{
    background-color: rgba(20, 30, 13, .7);
}
nav{
    text-align: center;
}
nav.top-nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
nav.top-nav a:hover{
    background-color: black;
}
.main-logo{
    width: 80px;
}
h1, h3{
    text-align: center;
}
.book-button{
    color: black;
    text-decoration: none;
    font-weight: bold;

}
main, section{
    text-align: center;
}
#background{
    height: 725px;
    background: #d9c2a3;
}
.join-section{
    color: #fcfbfb;
    background-color: rgba(20, 30, 13, .7);
}
.join-button, .book-button{
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.join-button:hover, .book-button:hover{
    background: #d9c2a3;
}
footer p{
    font-size: 1.2em;
}
footer p:hover{
    text-decoration: underline;
}
nav.bottom-nav{
    background-color:rgba(20, 30, 13, .7) ;
    color: #d9c2a3;
    text-align: left;
}
nav.bottom-nav ul{
    list-style: none;
    display: inline;
}
nav.bottom-nav a, li{
    color: #d9c2a3;
    text-decoration: none;
    font-weight: bold;
}
nav.bottom-nav li{
    height: 2em;
}
footer img{
    justify-items: left;
}
.social-link{
    width: 80px;
}