*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    max-width: 1280px;
    margin: auto;
}
.container{
    /* width: 1600px; */
}

main{
    background-color: grey;
    padding: 3em;
    display: flex;
    gap: 3em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
main a{
    flex: 1 0 15em;
}
main img{
    border-radius: 50%;
}