*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-rows: auto auto auto;
}

/* header - Open Here */
header{
    background: #000;
    border: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 5;
}
.header-nav{
    height: 5vh;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.header-nav-links{
    text-decoration: none;
}
/* Header - Closing Here */


footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 12vh;
    border: 1px solid;
    display: grid;
    grid-template-rows: 100%;
    /* justify-content: center; */
}
.footer-nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: 1px solid;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
}
footer img{
    width: 10vh;
}